body {
    font-family: 'Gelasio', serif;
    padding: 0;
    margin: 0;
    background-color: #F0F4FD;
    text-align: center;
}

h1, h2 {
    color: #203459 ;
    font-size: 2rem;
}

p {
    color: #1544B9;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a :hover {
    color: black;
}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
    font-size: 1.5rem;
}

#sidebar {
    transform: rotate(7deg);
    float:right;
    width:30%;
    padding:10px;
    background: #FFC0BE ;
    border:dotted 3px #6F4D61 ;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
#sidebar p {
    font-family: 'Pacifico', cursive;
}


pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:2px;
    border-radius: 10%;
    width: 50%;
    margin: auto;
}
.comment:nth-child(even) {
    background: #ffeaea;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

/*Share form*/

form label  {
    font-size: 1.5rem;
}

.button-form {
    padding-top: 350px;
}


/*Comments section*/
.comments  label{
    font-size: 1rem;
}

.comments {
    width: 80%;
    display: block;
    padding:  2em 3em;
}

.box{
    background-color: #fae3d9;
    padding-bottom: 12em;
    width: inherit;
    margin-left: 170px;
    align-items: center;
    border-radius: 30%;
}


